header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 3rem;
}


header svg {
    height: 2rem;
    width: auto;
}

main {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}

.book-card {
    display: flex;
    flex-direction: column;
    width: 200px;
}

#new-book {
    display: flex;
    flex-direction: column;
}

aside{
    background-color: rgba(0, 0, 0, .5);
    position: fixed;
    inset: 0;
    transition: left .3s ease-in-out;
}

aside.closed {
    display: none;
}
.cart-content{
    background-color: white;
    z-index: 100000;
    width: 70vw;
    display: flex;
    flex-direction: column;
    height: 100%;
    margin-left: auto;
}

aside.closed.cart-content{
    margin-left: 100vw;
}